# EXAMPLE OF <.env> STRUCTURE!
# COPY THIS FILE AND AFTER EDITING JUST RENAME COPIED FILE TO .env
# AFTER ALL CHECK DOCKER COMPOSE CONFIG BY COMMAND 'docker-compose config' IN TERMINAL.

TELEGRAM_TOKEN=<your_telegram_token>